<form class="form-horizontal" ng-controller="StoryFormController">
	<div class="form-group">
		<label for="name" class="col-lg-2 control-label">Name</label>
		<div class="col-lg-10">
			<input name="name" type="text" ng-model="story.name" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-lg-2 control-label">Description</label>
		<div class="col-lg-10">
			<textarea name="description"  ng-model="story.description" class="form-control" rows="10"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="setting" class="col-lg-2 control-label">Setting</label>
		<div class="col-lg-10">
			<input name="setting" type="text" ng-model="story.setting" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="status" class="col-lg-2 control-label">Status</label>
		<div class="col-lg-10">
			<input name="status" type="text" ng-model="story.status" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<button class="btn btn-primary" ng-click="saveStory()">Save</button>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<a class="btn btn-default" href="#/stories">Done</a>
		</div>
	</div>
		<hr/>
	<tabset>
		<tab heading="Chapters">
			<button ng-click="addChapter()" class="btn btn-default">Add</button>
			<table class="table">
				<thead>
					<tr> <th>Number</th> <th>Name</th> <th>Description</th> <th>Scenes</th> </tr>
				</thead>
				<tbody>
					<tr ng-repeat="chapter in story.chapters">
						<td>{{chapter.id + 1}}</td>
						<td>{{chapter.name}}</td>
						<td>{{chapter.description}}</td>
						<td>{{chapter.scenes.length}}</td>
						<td>
							<button ng-click="editChapter( chapter)" class="btn btn-default">Edit</button>
							<button ng-click="deleteChapter( chapter)" class="btn btn-default">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab heading="Cast">
			<a href="#/stories/new/cast/new" class="btn btn-default">Add</a>
			<table class="table">
				<thead>
					<tr> <th>Name</th> <th>Role</th> <th>High Concept</th> <th>Trouble</th> </tr>
				</thead>
				<tbody>
					<tr><td>Dr. Evil</td><td>Leader of the bad guys</td><td>Hysterically evil</td><td>Sweet Tooth</td><td><button class="btn btn-default">Edit</button><button class="btn btn-default">Delete</button></tr>
				</tbody>
			</table>
		</tab>
	</tabset>
</form>
