<div class="page-header">
	<h1>Stories</h1>
</div>
<a href="#/stories/new" class="btn btn-default">Add</a>
<table class="table table-striped table-bordered">
<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Setting</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="story in stories">
		<td>{{story.name}}</td>
		<td>{{story.description}}</td>
		<td>{{story.setting}}</td>
		<td>{{story.status}}</td>
		<td>
			<a href="#/stories/edit/{{story.id}}" class="btn btn-default">Edit</a>
			<button ng-click="delete( story)" class="btn btn-default">Delete</button>
		</td>
	</tr>
</tbody>
</table>
