{% extends "bread_crumb.html" %} 
{% load bootstrap3 %} 

{% block bread_crumb %}
	<a href="{% url 'story-list' %}">Stories</a> / <a href="{% url 'story-edit' pk=story.id %}">{{story.name}}</a>
{% endblock %} 

{% block bread_crumb_page_header %}Confirm Deleting a Chapter{% endblock %}

{% block bread_crumb_content %} 
<form action="" method="post">
	{% csrf_token %}
	
	<p>Are you sure you want to delete Chapter {{object.number}} - {{ object.title }}?</p>
	<input type="submit" value="Confirm" />
</form>
{% endblock %}
