{% extends "bread_crumb.html" %} 
{% load bootstrap3 %} 

{% block bread_crumb %}
	<a href="{% url 'story-list' %}">Stories</a> / <a href="{% url 'story-edit' pk=story.id %}">{{story.name}}</a> / <a href="{% url 'chapter-edit' story_pk=story.id pk=chapter.id %}">Chapter {{chapter.number}}: {{ chapter.title }} </a>
{% endblock %} 

{% block bread_crumb_page_header %}Scene{% endblock %}

{% block bread_crumb_content %} 
	<form id="scene_form" action="" method="post" class="form">
		{% csrf_token %}
		
		{% bootstrap_form form %}

		{% if form.instance.id %}		
		<ul class="nav nav-tabs">
  		<li class="active"><a href="#clues" data-toggle="tab">Clues</a></li>
  		<li><a href="#castmembers" data-toggle="tab">Cast Members</a></li>
  		<li><a href="#locations" data-toggle="tab">Locations</a></li>
		</ul>

		<div class="tab-content">
  		<div class="tab-pane active" id="clues">
  			{% buttons %}  			
					<a id="add-clue-button" class="btn btn-primary" href="{% url 'clue-create'  story_pk=story.id chapter_pk=chapter.id scene_pk=form.instance.id %}">{% bootstrap_icon "plus" %} Add</a>
				{% endbuttons %}
		
				<table id="clue-table" class='table table-striped'>
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
						</tr>
					</thead>
					{% for clue in form.instance.clue_set.all %}    						    		
						<tr>											                    						
							<td width="20%">{{clue.title}}</td>
							<td width="70%">{{clue.description}}</td>
							<td width="10%"><a href="{% url 'clue-edit' story_pk=form.instance.chapter.story.id chapter_pk=form.instance.chapter.id scene_pk=form.instance.id pk=clue.pk %}" class="btn btn-default  btn-xs">{%bootstrap_icon "pencil"%} Edit</a>
							<a href="{% url 'clue-delete' story_pk=form.instance.chapter.story.id chapter_pk=form.instance.chapter.id scene_pk=form.instance.id pk=clue.pk %}" class="btn btn-default  btn-xs">{%bootstrap_icon "remove-circle"%} Delete</a></td>
						</tr>    			
					{% endfor %}    	
				</table>
			</div>
			<div class="tab-pane" id="castmembers">
				{% buttons %}  			
					<a id="add-castmember-button" class="btn btn-primary" href="{% url 'castmember-create' story_pk=form.instance.chapter.story.id chapter_pk=form.instance.chapter.id scene_pk=form.instance.id %}">{% bootstrap_icon "plus" %} Add</a>
				{% endbuttons %}
				{{ scenecastmember_formset.management_form }}
        {{ scenecastmember_formset.non_form_errors }}													
				<table id="castmember-table" class='table table-striped'>
					{% for form in scenecastmember_formset.forms %}
  					{% if forloop.first %}
  						<thead>
  							<tr>
    							{% for field in form.visible_fields %}
    								<th>{{ field.label|capfirst }}</th>
    							{% endfor %}
  							</tr>
  						</thead>
  					{% endif %}
  					<tr >
  						{% for field in form.visible_fields %}
    						<td>    		
    							{% if forloop.first %}
      							{% for hidden in form.hidden_fields %}
      								{{ hidden }}
      							{% endfor %}
    							{% endif %}
      						{{ field.errors.as_ul }}
      						{{ field }}
    						</td>
  						{% endfor %}
  					</tr>
					{% endfor %}	
				</table>
			</div>	
			<div class="tab-pane" id="locations">
  			{% buttons %}  			
					<a id="add-location-button" class="btn btn-primary" href="{% url 'location-create'  story_pk=form.instance.chapter.story.id chapter_pk=form.instance.chapter.id scene_pk=form.instance.id %}">{% bootstrap_icon "plus" %} Add</a>
				{% endbuttons %}
		
				<table id="location-table" class='table table-striped'>
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					{% for location in form.instance.location_set.all %}    						    		
						<tr>											                    						
							<td width="20%">{{location.name}}</td>
							<td width="70%">{{location.description}}</td>
							<td width="10%"><a href="{% url 'location-edit' story_pk=form.instance.chapter.story.id chapter_pk=form.instance.chapter.id scene_pk=form.instance.id pk=location.pk %}" class="btn btn-default  btn-xs">{%bootstrap_icon "pencil"%} Edit</a>
							<a href="{% url 'location-delete' story_pk=form.instance.chapter.story.id chapter_pk=form.instance.chapter.id scene_pk=form.instance.id pk=location.pk %}" class="btn btn-default  btn-xs">{%bootstrap_icon "remove-circle"%} Delete</a></td>
						</tr>    			
					{% endfor %}    	
				</table>
			</div>
  	</div>
		{% endif %}
		{% buttons %}
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "save" %} Save
			</button>
		{% endbuttons %}				    			    
	</form>
{% endblock %}